body {
  padding-top: 70px;
  background-color: #fff;
}

.lead {
  padding-top: 15px;
}

.headline {
  padding-bottom: 15px;
}

.navigation {
  padding: 8px 0 !important;
}

tr.notdone td {
  background-color: #888;
}

tr.notdone:hover td{
  background-color: #888 !important;
}

.scrollbox {
	position: relative;
	z-index: 1;

	overflow: auto;

	max-height: 200px;
	margin-bottom: 50px;

	background: #FFF no-repeat;
	background-image:
		-o-radial-gradient(50% 0, farthest-side, rgba(0,0,0,0.4), rgba(0,0,0,0)),
		-o-radial-gradient(50% 100%,farthest-side, rgba(0,0,0,0.4), rgba(0,0,0,0));
	background-image:
		-ms-radial-gradient(50% 0, farthest-side, rgba(0,0,0,0.4), rgba(0,0,0,0)),
		-ms-radial-gradient(50% 100%,farthest-side, rgba(0,0,0,0.4), rgba(0,0,0,0));
	background-image:
		-moz-radial-gradient(50% 0, farthest-side, rgba(0,0,0,0.4), rgba(0,0,0,0)),
		-moz-radial-gradient(50% 100%,farthest-side, rgba(0,0,0,0.4), rgba(0,0,0,0));
	background-image:
		-webkit-radial-gradient(50% 0, farthest-side, rgba(0,0,0,0.4), rgba(0,0,0,0)),
		-webkit-radial-gradient(50% 100%,farthest-side, rgba(0,0,0,0.4), rgba(0,0,0,0));
	background-position: 0 0, 0 100%;
	background-size: 100% 7px;
}

.scrollbox:before,
.scrollbox:after {
	content: "";
	position: relative;
	z-index: -1;
	
	display: block;
	
	height: 30px;
	margin: 0 0 -30px;
	background: linear-gradient(top,#FFF,#FFF 30%,rgba(255,255,255,0));
}
.scrollbox:after {
	margin: -30px 0 0;
	background: linear-gradient(top,rgba(255,255,255,0),#FFF 70%,#FFF);
}
legend{
  margin-bottom:0px !important;
}
textarea{
  padding: 15px;
}
