.container(ng-show="tab=='Home'")
  h1(style="font-size: 24px;line-height: 27px;") Welcome to Network Coding in WiMAX Demo
  p.lead(style="font-size: 16px;line-height: 20px;")
    | Our demonstration showcases a network-coding (NC)-enabled reliability architecture for next generation wireless networks. Our NC architecture uses a flexible thread-based design, applying systematic intra-session random linear network coding as a packet erasure code at the IP layer. Using GENI WiMAX platforms, a series of point-to-point transmission experiments are conducted to compare NC with Automatic Repeated reQuest (ARQ) and Hybrid ARQ (HARQ). At the application layer, Iperf and UFTP are used to measure throughput, packet loss and file transfer delay. In our selected scenarios, NC offers up to 5.9 times gain in throughput and 5.5 times reduction in file transfer delay, compared to HARQ and joint HARQ/ARQ. Our demonstration hence illustrates that lower-layer redundancy mechanisms such as HARQ and ARQ incur high cost since they operate at the packet-level. Conversely, running at higher layers (e.g., IP) amortizes the cost of redundancy over several packets, thus leading to higher efficiency.
  .row(style="text-align: center;")
    img(src="./img/BS_SS_web.png", style="max-width:40%")
  p.lead(style="font-size: 16px;line-height: 27px;") 
    -var html = "<b>New Experiment</b>"
    | Click !{html} Tab to start a new experiment now.
  
  