.container(ng-show="tab=='Status'")
  h1.headline Status
  .row
    .span12
      textarea#status.span6(rows=15)
      textarea#statusLog.span6(rows=15)
      btn.btn.btn-primary(ng-click="cancelCurrent()")
        | Cancel
